@model IEnumerable<event_management_system.Models.EventRevies>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EventStorage.EventType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Username)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Review)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReviewDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.EventStorage.EventType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Username)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Review)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReviewDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ReviewID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ReviewID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ReviewID })
        </td>
    </tr>
}

</table>
