@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="X-UA-Compatible" content="IE=opera" />
    <meta http-equiv="X-UA-Compatible" content="IE=brave" />
    <meta http-equiv="X-UA-Compatible" content="IE=chrome" />
    <meta http-equiv="X-UA-Compatible" content="IE=moz" />
    <meta name="viewport" content="width=device-width, initial-scalse=1.0" />
    <title>International Sports</title>
    @Styles.Render("~/Content/Sportcss")
</head>
<body>
    <div id="body-content">
        <header>
            <h1>International Sports</h1>
        </header>
        <div id="wrap-content">
            <div id="content">
                <div id="left">
                    <div id="Wrap-history-content">
                        <div id="History-info">
                            <h2 id="History-heading">History of other sport events</h2>
                            <ul>
                                <li>@Html.ActionLink("History of Rugby", "Rugby", "Home")</li>
                                <li>@Html.ActionLink("History of Soccer", "Soccer", "Home")</li>
                                <li>@Html.ActionLink("History of Softball", "Softball", "Home")</li>
                                <li>@Html.ActionLink("History of Basketball", "Basketball", "Home")</li>
                                <li>@Html.ActionLink("History of Baseball", "Baseball", "Home")</li>
                                <li>@Html.ActionLink("History of Netball", "Netball", "Home")</li>
                                <li>@Html.ActionLink("History of Cricket", "Cricket", "Home")</li>
                                <li>@Html.ActionLink("History of Hockey", "Hockey", "Home")</li>
                                <li>@Html.ActionLink("History of Tennis", "Tennis", "Home")</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div id="right">
                    <div id="Wrap-future-Event-content">
                        <div id="Future-events">
                            <h2>Future events</h2>
                            @*Dummy data*@
                            <table id="table-of-events">
                                <tr>
                                    <th>Event Title</th>
                                    <th>Date</th>
                                    <th>Location</th>
                                </tr>
                                <tr>
                                    <td>An event</td>
                                    <td>A date</td>
                                    <td>A location</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>